<div
  class="d-flex container-fluid"
  lc-helper="background"
  style="
    height: 50vh;
    background: url(../../../static/img/koch_congressional_project/brigde_black_and_white.jpg)
      center / cover no-repeat;
  "
></div>
<div
  class="container p-5 bg-light"
  data-aos="fade-up"
  data-aos-delay="300"
  style="margin-top: -100px"
>
  <div class="row">
    <!-- /col -->
    <div class="col-md-8 mx-auto text-center">
      <div class="lc-block">
        <div editable="rich">
          <p class="display-4 text-black">
            EDWARD I. KOCH CONGRESSIONAL PROJECT
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <div class="lc-block mt-5">
        <div editable="rich">
          <ul>
            <li>
              <p class="lead text-secondary">
                <strong
                  >What is the Edward I. Koch Congressional Project?</strong
                >
              </p>
              <p class="lead text-secondary">
                The project will make the 330 boxes of Edward I. Koch's
                Congressional records publicly available. Held by the Municipal
                Archives since the 1980s, they have been inaccessible pending
                necessary processing and inventory activities. The collection
                includes correspondence, legislative memos, photos, campaign
                handouts and more. Highlights include papers related to the
                Vietnam War, gun control, immigration, mass transit, urban
                development, and the impeachment of President Richard M. Nixon.
              </p>
            </li>
            <li>
              <p class="lead text-secondary">
                <strong>What will be accomplished?</strong>
              </p>
              <p class="lead text-secondary">
                The records will be inventoried, re-housed, digitized and posted
                online. Video and audiotapes will be transferred to more stable
                formats.
              </p>
            </li>
            <li>
              <p class="lead text-secondary">
                <strong>What is the budget for the project?</strong>
              </p>
              <p class="lead text-secondary">
                $99,000 will fund staff salaries for a ten-month project. Tax
                deductible donations can be made to the NY Archival Society.
                <a
                  href="https://web.ovationtix.com/trs/store/34600/alldonations/23831"
                  target="_blank"
                  >Contribute here.</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- /lc-block -->
    </div>
    <!-- /col -->
  </div>
</div>
