<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board Organizational Chart</title>
  </head>

  <body>
    <section class="directors" id="directors">
      <div class="container">
        <div class="section-title">
          <h2>directors</h2>
          <p>Board Of Directors</p>
        </div>
        <div class="row directors-row">
          <!-- Added a specific class here -->
          <!-- Directors will be inserted here using JavaScript -->
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row justify-content-center">
        <img
          alt="Image related to the content"
          class="d-block mx-lg-auto img-fluid"
          height="1080"
          loading="lazy"
          sizes="(max-width: 1080px) 100vw, 1080px"
          src="{{ url_for('static', filename='img/about/Capture.png') }}"
          width="1080"
        />
      </div>

      <div class="container mt-5">
        <h1 class="text-center mb-3">In Memory Of</h1>
        <h1 class="text-center mb-3">Catha Grace Rambusch</h1>
        <p class="about_page_in_memory_of_paragraph">
          The Department of Records and Information Services (DORIS) notes with
          sadness the passing of long-time friend and supporter, Catha Grace
          Rambusch, on April 18, 2024.<br /><br />

          Catha Rambusch’s association with the Municipal Archives began in the
          1970s when she joined Paul O’Dwyer, the City Council President, to
          create the New York Archival Society. Catha served as a Board member,
          Secretary, Executive Director, and in 2023 she assumed the role of
          President.<br /><br />

          Catha’s work on behalf of the Municipal Archives took many forms. She
          helped transport the re-discovered Brooklyn Bridge drawings to the
          Archives in her station wagon. She planned and organized numerous
          special events and programs such as the lecture presented by Missy
          Dierickx on the history and architecture of the Surrogate’s Court
          building, and most recently, the memorial for long-time New York
          Archival Society treasurer Joseph Van Nostrand.<br /><br />

          Catha’s connections in the world of private philanthropy proved
          invaluable in the 1980s when she helped the Archives secure grants to
          preserve the Central Park drawings collection. In 1985, she
          facilitated an award of $35,000 from the Andrew W. Mellon Foundation
          for the first year of a two-year project to examine, catalog and
          conserve the collection. <br /><br />

          In 1986, she arranged for a grant of $28,000 from the Henry Luce
          Foundation to support the second year of the project. In April 2022,
          she lent DORIS a book from her voluminous collection of historical
          materials for the exhibit of the original design for Central Park in
          celebration of Frederick Law Olmsted’s 200th Birthday.<br /><br />

          Catha’s dedication to archives and preservation extended well beyond
          the Municipal Archives. Among her many signature achievements, in 1973
          Catha established the Committee for the Preservation of Architectural
          Records. She was a founding member of UNESCO’s International
          Confederation of Architectural Museums. She served as Director of the
          National Catalogue of Landscape Records at Wave Hill from 1989 to
          2004. The American Institute of Architects awarded her their Silver
          Medal. In 1988, Secretary of the Interior Donald Paul Hodel bestowed
          the Conservation Award to Catha in recognition of her significant
          contributions to the preservation of historic records.<br /><br />

          Brooklyn-born, and a long-time resident of Stuyvesant Town, Catha
          Rambusch was the archivist and historian of her husband Viggo
          Rambusch’s 125-year old family firm. She is survived by Viggo, her
          husband of 65 years, and four children, Kristin Von Thelen, Lucia
          Rambusch-Adam, Edwin and Martin Rambusch, and eight grandchildren.
        </p>
      </div>
    </div>
  </body>
</html>