# This is a secret key for the Flask app to keep it secure from attacks
FLASK_APP_SECRET_KEY=flask_app_secret_key

# This is the client ID for the PayPal API
PAYPAL_CLIENT_ID=paypal_client_id

# This is the URI for the PostgreSQL database
DATABASE_URI=database_uri

# This is the service ID for EmailJS
EMAILJS_SERVICE_ID=emailjs_service_id

# This is the template ID for EmailJS
EMAILJS_TEMPLATE_ID=emailjs_template_id

# This is the API ID for EmailJS
EMAILJS_API_ID=emailjs_api_id

# This is the recipient email address for notifications
RECIPIENT_EMAILS=recipient_email