FLASK_APP_SECRET_KEY=3fcf9348e1e66f9b4b6a28f23ae70391f54c5d7e8b2a184e72f0b2d9d6b4c3a7
PAYPAL_CLIENT_ID=AdsyCiSPFwQnuqykT33eTHJ1Zz_s152g1yxozH4HbW0aOUCEgUxRP6PJTLfQOrSHBlBi92LAF532CQss
DATABASE_URI=postgresql://nyas_db_owner:ZzJqj95uBpbO@ep-odd-mud-a4gnbk1p-pooler.us-east-1.aws.neon.tech/nyas_db?sslmode=require


# EmailJS general credendisls
EMAILJS_SERVICE_ID=service_ogwzo2j
EMAILJS_API_ID=jYV8y8AwgFM2SI98x
RECIPIENT_EMAILS=nycarchivalsociety@gmail.com

# template for the paypal
EMAILJS_TEMPLATE_ID_FOR_PAYPAL_CONFIRMATION_EMAIL=template_uyo2dnr

#Contact form
EMAILJS_TEMPLATE_ID_FOR_CONTACT_FORM=template_7813v6y