<section class="about" id="about">
  <div class="container" data-aos="fade-up" data-aos-delay="300">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="about-img">
          <img
            alt="Image related to the content"
            height="500"
            src="{{ url_for('static', filename='img/index/new_york_archival_society.jpg') }}"
            width="700"
          />
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3 class="mb-3" style="color: white">New York Archival Society</h3>
        <p class="fst-italic" style="color: white">
          The New York Archival Society works wit the Department of Records and
          Information Services preserves of New York City providing public
          access to historical and contemporary records and information about
          New York City government.
        </p>
        <ul style="color: white">
          <li>
            <i class="bi bi-check-circle"> </i>
            Preserves and provides public access to historical and contemporary
            records and information about New York City government.
          </li>
          <li>
            <i class="bi bi-check-circle"> </i>
            Maintains digital galleries of the New York City Municipal Archives,
            including a vast collection of photographs from the 1940s.
          </li>
          <li>
            <i class="bi bi-check-circle"> </i>
            Offers research services through the Municipal Library and Archives,
            open by appointment only.
          </li>
          <li>
            <i class="bi bi-check-circle"> </i>
            Organizes exhibitions to celebrate and explore the city's history,
            such as "Ordinary People, Extraordinary Lives—A Pictorial History of
            Working People in New York City."
          </li>
          <li>
            <i class="bi bi-check-circle"> </i>
            Commemorates the shared cultural heritage of Amsterdam and New York
            City with the "New Amsterdam Stories" exhibition.
          </li>
        </ul>
        <p style="color: white">
          The New York Archival Society and Department of Records and
          Information Services of New York City are the key institutions in
          preserving and making accessible the rich history of New York City.
          Through its various services and exhibitions, it provides invaluable
          resources to researchers, historians, and the general public alike.
        </p>
      </div>
    </div>
  </div>
</section>
