<!--Start of About Us section-->
<section class="cards" id="cards">
  <div class="container" data-aos="fade-up" data-aos-delay="300">
    <div class="section-title">
      <h2>About Us</h2>
      <p>WHAT WE DO</p>
    </div>
    <div class="row">
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="img-container" data-aos="zoom-in" data-aos-delay="300">
          <img
            alt="Image related to the content"
            class="image"
            src="{{ url_for('static', filename='img/index/old_cars.jpg') }}"
          />
          <div class="overlay">
            <div class="text">
              <h4>Our Collections</h4>
              <p>
                Explore our extensive collection of mesmerizing photos capturing
                the essence of New York City.
                <a href="#"> View All </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="img-container" data-aos="zoom-in" data-aos-delay="300">
          <img
            alt="Image related to the content"
            class="image"
            src="{{ url_for('static', filename='img/index/major_event.jpg') }}"
          />
          <div class="overlay">
            <div class="text">
              <h4>Our Events</h4>
              <p>
                Discover a calendar brimming with captivating events that bring
                the pulse of New York City to life.
                <a href="#"> View All </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="img-container" data-aos="zoom-in" data-aos-delay="300">
          <img
            alt="Image related to the content"
            class="image"
            src="{{ url_for('static', filename='img/index/koch_congressional.jpg') }}"
          />
          <div class="overlay">
            <div class="text">
              <h4>Our Projects</h4>
              <p>
                Embark on a journey of innovation and impact with our
                groundbreaking projects that shape the future of New York City.
                <a href="#"> View All </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of About Us section-->
