<!--Start of WHAT WE HAVE section-->
<section class="py-4 py-md-6">
  <div class="container">
    <div class="row">
      <div class="container" data-aos="fade-up" data-aos-delay="300">
        <div class="section-title">
          <h2>WHAT WE HAVE</h2>
          <p>Have a look to our Vital Records</p>
        </div>
      </div>
      <!-- /col -->
    </div>
    <div
      class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5"
      id="sortable"
    >
      <div class="col">
        <div
          class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
          data-aos="fade-up"
          data-aos-delay="300"
          lc-helper="background"
          style="
            background-image: linear-gradient(
                180deg,
                rgba(19, 16, 34, 0.58) 0%,
                rgba(19, 16, 34, 0.78) 100%
              ),
              url(../../../static/img/index/birth_certificate.jpg);
            background-size: cover;
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          >
            <div class="lc-block pt-5 mt-5 mb-4">
              <div editable="rich">
                <h2 class="display-6 lh-1 fw-bold">Birth Certificates</h2>
                <p>
                  The NYC Department of Records has digitized birth certificates
                  for different years and boroughs, including the Bronx,
                  Brooklyn, Manhattan, Queens, and Staten Island.
                </p>
              </div>
            </div>
            <ul class="lc-block d-flex list-unstyled mt-auto ms-auto">
              <a
                class="btn btn-link btn-sm text-white"
                href="https://a860-historicalvitalrecords.nyc.gov/digital-vital-records"
                lc-helper="button"
                role="button"
                target="_blank"
              >
                Read more
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="300">
        <div
          class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
          lc-helper="background"
          style="
            background: linear-gradient(
                180deg,
                rgba(19, 16, 34, 0.58) 0%,
                rgba(19, 16, 34, 0.78) 100%
              ),
              url(../../../static/img/index/death_certificate.jpg) center /
                cover no-repeat;
            background-size: cover;
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          >
            <div class="lc-block pt-5 mt-5 mb-4">
              <div editable="rich">
                <h2 class="display-6 lh-1 fw-bold">Death Certificates</h2>
                <p>
                  NYC Department of Records has digitized death certificates for
                  Bronx, Brooklyn, Manhattan, Queens and Staten Island.
                </p>
              </div>
            </div>
            <ul class="lc-block d-flex list-unstyled mt-auto ms-auto">
              <a
                class="btn btn-link btn-sm text-white"
                href="https://a860-historicalvitalrecords.nyc.gov/digital-vital-records"
                lc-helper="button"
                role="button"
                target="_blank"
              >
                Read more
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="300">
        <div
          <div=""
          class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
          lc-helper="background"
          style="
            background: linear-gradient(
                180deg,
                rgba(19, 16, 34, 0.58) 0%,
                rgba(19, 16, 34, 0.78) 100%
              ),
              url(../../../static/img/index/marriage_certifiate.jpg) center /
                cover no-repeat;
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          >
            <div class="lc-block pt-5 mt-5 mb-4">
              <div editable="rich">
                <h2 class="display-6 lh-1 fw-bold">Marriage Certificates</h2>
                <p>
                  The New York City Health Department issued marriage
                  certificates through 1907. Beginning in 1908, in compliance
                  with N.Y. State Law, couples planning to marry obtained a
                  license from the City Clerk.
                </p>
              </div>
            </div>
            <ul class="lc-block d-flex list-unstyled mt-auto ms-auto">
              <a
                class="btn btn-link btn-sm text-white"
                href="https://a860-historicalvitalrecords.nyc.gov/digital-vital-records"
                lc-helper="button"
                role="button"
                target="_blank"
              >
                Read more
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of WHAT WE HAVE section-->
