<!--Start of Projects section-->
<section class="events" id="events">
  <div class="container" data-aos="fade-up" data-aos-delay="300">
    <div class="section-title">
      <h2>Projects</h2>
      <p>Some of our projects</p>
    </div>
    <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="300">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row project-item">
            <div class="col-lg-6">
              <a
                href="https://nycma.lunaimaging.com/luna/servlet"
                target="_blank"
                ><img
                  alt="Event related image"
                  class="img-fluid"
                  src="{{ url_for('static', filename='img/index/40shero.jpg') }}"
              /></a>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Browse 1940s Tax Photo Collection</h3>
              <p class="fst-italic">
                More than 720,000 newly digitized historical photographs of
                every house and building in the 5 boroughs can be searched and
                viewed in the gallery.
                <a
                  href="https://nycma.lunaimaging.com/luna/servlet"
                  target="_blank"
                  >Click here</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row project-item">
            <div class="col-lg-6">
              <a
                href="https://www.nyc.gov/assets/records/pdf/2021_06_28_DORIS_Re-Opening.pdf"
                target="_blank"
                ><img
                  alt="Event related image"
                  class="img-fluid"
                  src="{{ url_for('static', filename='img/index/open-saturdays.jpg') }}"
              /></a>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Visit the Municipal Archives and Library</h3>
              <p class="fst-italic">
                The Municipal Archives and Library has reopened for researchers
                by appointment only. Find out how to schedule an appointment.
                <a
                  href="https://www.nyc.gov/assets/records/pdf/2021_06_28_DORIS_Re-Opening.pdf"
                  target="_blank"
                  >Click here</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row project-item">
            <div class="col-lg-6">
              <a
                href="https://a860-historicalvitalrecords.nyc.gov/"
                target="_blank"
                ><img
                  alt="Event related image"
                  class="img-fluid"
                  src="{{ url_for('static', filename='img/index/vr-hero.jpg') }}"
              /></a>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>Historical Vital Records of NYC</h3>
              <p class="fst-italic">
                Introducing Historical Vital Records NYC! Browse, search and
                download more than 10 million birth, death and marriage records
                from 1855-1949.
                <a
                  href="https://a860-historicalvitalrecords.nyc.gov/"
                  target="_blank"
                  >Click here</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row project-item">
            <div class="col-lg-6">
              <a
                href="https://www.nyc.gov/office-of-the-mayor/news/712-21/mayor-de-blasio-opening-new-municipal-archives-facility?fbclid=IwAR0XCYegdFfcDy9fnha8iPcLw1D3isTx7KGTh5_65f5kt53XIM9m-7gk65k"
                target="_blank"
                ><img
                  alt="Event related image"
                  class="img-fluid"
                  src="{{ url_for('static', filename='img/index/Industry_City_Hero.jpg') }}"
              /></a>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>New Archives Facility</h3>
              <p class="fst-italic">
                Our new facility in Sunset Park, Brooklyn at Industry City is
                now welcoming patrons - by appointment. This major investment in
                state-of-the-art storage and a research space will ensure
                preservation of and access to the City's heritage for
                generations to come.
                <a
                  href="https://www.nyc.gov/office-of-the-mayor/news/712-21/mayor-de-blasio-opening-new-municipal-archives-facility?fbclid=IwAR0XCYegdFfcDy9fnha8iPcLw1D3isTx7KGTh5_65f5kt53XIM9m-7gk65k"
                  target="_blank"
                  >Click here</a
                >
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!--End of Projects section-->
