<!--Start of Gallery section-->
<section class="gallery" id="gallery">
  <div class="container" data-aos="fade-up" data-aos-delay="300">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>Some photos from Our Collection</p>
    </div>
  </div>
  <div class="container-fluid" data-aos="fade-up" data-aos-delay="300">
    <div class="row g-0">
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/man_with_horse.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/man_with_horse.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/jonh_kennedy.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/jonh_kennedy.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/mlj.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/mlj.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/brigde_mans.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/brigde_mans.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/jk.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/jk.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/ww1.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/ww1.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/building.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/building.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            class="gallery-lightbox"
            data-gall="gallery-item"
            href="{{ url_for('static', filename='img/index/old_town.jpg') }}"
          >
            <img
              alt="Gallery image"
              class="img-fluid"
              src="{{ url_for('static', filename='img/index/old_town.jpg') }}"
            />
          </a>
        </div>
      </div>
      <div class="lc-block d-flex justify-content-center">
        <a
          class="btn btn-lg mt-4"
          href="https://nycma.lunaimaging.com/luna/servlet"
          role="button"
          style="
            border-radius: 30px;
            background-color: #cda45e;
            color: #ffffff;
            padding: 15px 30px;
            text-decoration: none;
            font-weight: bold;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
          "
          target="_blank"
        >
          SEE MORE IMAGES FROM THE MUNICIPAL ARCHIVES
        </a>
      </div>
    </div>
  </div>
</section>
<!--End of Gallery section-->
