<!-- ======= F.A.Q Section ======= -->
<!--Start of F.A.Q section-->
<section class="faq" id="faq">
  <div class="container">
    <div class="section-title" data-aos="zoom-out" data-aos-delay="300">
      <h2>F.A.Q</h2>
      <p>Frequently Asked Questions</p>
    </div>
    <ul class="faq-list">
      <li>
        <div class="collapsed question faq_questions" data-bs-toggle="collapse" href="#faq1">
          How can I contact the NYC Department of Records?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div class="collapse" data-bs-parent=".faq-list" id="faq1">
          <p>
            You can contact the NYC Department of Records and Information
            Services by visiting their office at 31 Chambers Street, New York,
            NY 10007. You can also call them at (212) 788-8611. For more
            information, please visit their website at
            <a
              href="https://www.nyc.gov/site/records/index.page" target="_blank" class="faq_hyperlink">https://www.nyc.gov/site/records/index.page</a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsed question faq_questions" data-bs-toggle="collapse" href="#faq2">
          How can I correct my birth certificate in New York?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div class="collapse" data-bs-parent=".faq-list" id="faq2">
          <p>
            To correct a birth certificate in New York, you would typically need
            to contact the New York State Department of Health or the New York
            City Department of Health and Mental Hygiene, depending on where the
            birth occurred. They can provide you with the necessary forms and
            instructions to request a correction. Please note that you may need
            to provide supporting documentation depending on the type of
            correction requested.
          </p>
        </div>
      </li>
      <li>
        <div class="collapsed question faq_questions" data-bs-toggle="collapse" href="#faq3">
          How long does it take to get vital records in NY?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div class="collapse" data-bs-parent=".faq-list" id="faq3">
          <p>
            The Municipal Archives has many historical vital records available
            online.
            <a
              href="https://a860-historicalvitalrecords.nyc.gov/"
              target="_blank" class="faq_hyperlink"
              >https://a860-historicalvitalrecords.nyc.gov/</a
            ><br /><br />For Birth and Death records issues after 1910, contact
            the NYC Department of Health.
            <a href="https://www.nyc.gov/site/doh/index.page" target="_blank" class="faq_hyperlink"
              >https://www.nyc.gov/site/doh/index.page</a
            >
          </p>
        </div>
      </li>
      <li>
        <div class="collapsed question faq_questions" data-bs-toggle="collapse" href="#faq4">
          How can I find public records in New York City?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div class="collapse" data-bs-parent=".faq-list" id="faq4">
          <p>
            Reports and other records published by City government can be found
            on the Government Publications Portal at the Municipal Library
            operated by DORIS
            <a
              href="https://a860-gpp.nyc.gov/collections/zw12z528p?locale=en"
              target="_blank" class="faq_hyperlink"
              >https://a860-gpp.nyc.gov/collections/zw12z528p?locale=en</a
            ><br /><br />

            Historical records can found in the Municipal Archives
            <a
              href="https://www.nyc.gov/site/records/historical-records/collections.page"
              target="_blank" class="faq_hyperlink"
              >https://www.nyc.gov/site/records/historical-records/collections.page</a
            ><br /><br />

            You can request copies of current records from New York City offices
            by filing a Freedom of Information Law (FOIL) request through the
            Open Records portal
            <a href="https://a860-openrecords.nyc.gov/" target="_blank" class="faq_hyperlink"
              >https://a860-openrecords.nyc.gov/</a
            >
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--End of F.A.Q section-->
<!-- End F.A.Q Section -->
