{% extends "base.html" %} {% block content %}

<head>
  <style>
    .product-name-container {
      width: 90%;
      /* Adjust as needed */
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>
<!-- ======= Hero Section ======= -->
{% include 'components/adopt_new_yorks_past/hero.html'%}
<div class="d-flex align-items-center min-vh-50">
  <div class="container text-center mb-md-5">
    <div class="lc-block">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h1 class="fw-bold display-3 section-heading">
            BE A PART OF THE CONSERVATION
          </h1>
        </div>
      </div>
      <div class="lc-block mb-4 col-xxl-6 mx-auto">
        <hr />
      </div>
      <div class="lc-block">
        <div editable="rich">
          <p class="display-6 adopt_past_title">Adopt New York's Past</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <!-- ======= Hero Section ======= -->
    {% include 'items/index.html'%}
  </div>
</section>

{% endblock %}
