{% extends "base.html" %} {% block content %}
<section class="d-flex align-items-center py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-12">
        <!-- Updated class to col-12 for full width -->
        <div class="lc-block mb-3">
          <div editable="rich">
            <h1 class="display-1 fw-bold text-white">Donate Now</h1>
          </div>
        </div>
        <!-- /lc-block -->
        <div class="lc-block mb-5">
          <div editable="rich">
            <p class="rfs-11 fw-light">
              The Municipal Library and Archives preserve and make available
              City government's historical records. We need your help to
              continue preservation of the materials and to make our holdings
              available to the general public. The Archival Society, a
              non-profit founded in 1976, supports the work of the Municipal
              Archives through fundraising and serving as a conduit for grants
              and donations. Charitable gifts help support preservation,
              digitization, public programming and internships. All donations
              are tax deductible. <br /><br />
              <a
                class="nav-link scrollto"
                href="https://www.paypal.com/donate/?hosted_button_id=WL37MGJXS9X7Q"
                target="_blank"
                style="color: goldenrod"
                >DONATE NOW</a
              ><br />
              Your contributions will help preserve our valuable heritage for
              generations to come.
            </p>
          </div>
        </div>
        <!-- /lc-block -->
        <div class="lc-block">
          <a
            class="btn btn-lg btn-primary"
            href="/"
            role="button"
            style="border-radius: 10px 10px 10px 10px"
            >Back to homepage</a
          >
        </div>
        <!-- /lc-block -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
