{% extends "base.html" %} {% block content %}
<section id="tranding">
  <div class="container py-5 text-center" style="margin-top: 50px">
    <div class="row">
      <div class="col-md-8 offset-md-2 px-4">
        <div class="lc-block mb-4">
          <div class="container-cards mt-3">
            <h1 class="text-center section-heading">
              Departament Of Records Public Programs
            </h1>
          </div>
          <div editable="rich">
            <h2 class="h4">
              The NYC Department of Records and Information Services (DORIS)
              hosts rotating exhibits. Past exhibits include “Ebb &amp; Flow:
              Tapping into the History of New York City's Water”, “Immigrant
              Voices”, “Unlikely Historians”, "Women Make History," "In the
              Shadow of the Highway: Robert Moses and the Battle for Downtown,"
              and "Little Syria". View treasures from the archives and learn
              about the history of New York City.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-cards">
    <div class="swiper tranding-slider">
      <div class="swiper-wrapper">
        <!-- Slide-start -->
        {% for image in image_urls %}
        <div class="swiper-slide tranding-slide">
          <div class="tranding-slide-img">
            <img
              alt="Event related image"
              class="img-fluid"
              src="{{ image }}"
            />
          </div>
        </div>
        <!-- Slide-end -->
        {% endfor %}
      </div>
      <div class="tranding-slider-control mt-3">
        <div class="swiper-button-prev slider-arrow">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
        <div class="swiper-button-next slider-arrow">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5 text-center">
    <div class="row">
      <div class="col-md-8 offset-md-2 px-4">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h2 class="h4">
              DORIS also offers programs, tours and activities related to our
              holdings. Students can work directly with primary sources to build
              a greater understanding of research and history. Check out our
              upcoming events here:
              <a href="https://bit.ly/DORISEvents" target="_blank"
                >https://bit.ly/DORISEvents</a
              >. <br /><br />You can also join our
              <a
                href="https://www1.nyc.gov/site/records/about/events-mailing-list.page"
                target="_blank"
                >mailing list</a
              >
              to be the first to know about exhibition openings, upcoming
              events, recent blog posts and much more.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
