{% extends "base.html" %} {% block content %}
<!-- Hero Section -->
<section class="d-flex align-items-center" id="hero">
  <div
    class="container position-relative text-center text-lg-start"
    data-aos="zoom-in"
    data-aos-delay="300"
  >
    <div class="row">
      <div class="col-lg-8">
        <h1 class="h3">
          Welcome to the
           New York Archival Society 
        </h1>
        <h1 class="h3">PRESERVING MATTERS OF HISTORICAL VALUE</h1>
        <div class="btns">
          <a class="btn-menu animated fadeInUp scrollto" href="#about">
            GET STARTED!
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 d-flex align-items-center justify-content-center position-relative"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <a
          class="glightbox play-btn"
          href="https://www.youtube.com/watch?v=yJA3KX7Aax4"
        >
        </a>
      </div>
    </div>
  </div>
</section>
<main id="main">
  <!-- About Section -->
  {% include 'components/index/about.html' %}
  <!-- Cards Section -->
  {% include 'components/index/cards.html' %}
  <!-- Questions Section -->
  {% include 'components/index/questions.html' %}
  <!-- Events Section -->
  {% include 'components/index/events.html' %}
  <!-- Certificates Section -->
  {% include 'components/index/certificades.html' %}
  <!-- Gallery Section -->
  {% include 'components/index/gallery.html' %}
</main>
{% endblock %}
