{% extends "base.html" %} {% block content %}
<!-- Hero Section -->
<section class="d-flex align-items-center" id="hero">
  <div class="container-page-title position-relative text-center text-lg-start main-page-title">
    <div class="row">
      <div class="col-lg-8">
        <h1
          class="h3 text-uppercase mb-4"
        >
          Welcome to the New York Archival Society
        </h1>
        <h1
          class="h3"
        >
          PRESERVING MATTERS OF HISTORICAL VALUE
        </h1>
      </div>
    </div>
  </div>
</section>

<!--I Speak Widget Added-->
<div class="iw_component" id="1459807931849">
  <div class="row bg-highlighted">
    <div class="clear-fix"></div>
    <div class="row">
      <div class="container_ispeak">
        <div class="module module-agency-columns">
          <div class="span12 agencies-first">
            <div
              class="agencies-index-panel agencies-no-scrolling text-padding"
            >
              <h2 class="ispeak_title">I Speak&hellip;</h2>
              <p class="ispeak_all_languages">
                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('en'); return false;"
                    >English</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('es'); return false;"
                    >Espa&ntilde;ol (Spanish)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('ar'); return false;"
                    >العربية (Arabic)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('zh-CN'); return false;"
                    >简体中文 (Simplified Chinese)</a
                  >
                </button class="button_lang">
                <!--<a class="btn btn-lang button-link-arrow black-link" href="language-access-zh-hant.page" mce_href="language-access-zh-hant.page">繁體中文 (Traditional Chinese)</a>-->

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('ht'); return false;"
                    >Krey&ograve;l Ayisyen (Haitian Creole)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('ko'); return false;"
                    >한국어 (Korean)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('ru'); return false;"
                    >Pусский (Russian)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('bn'); return false;"
                    >বাংলা (Bengali)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('fr'); return false;"
                    >Fran&ccedil;ais (French)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('pl'); return false;"
                    >Polski (Polish)</a
                  >
                </button>

                <button class="button_lang">
                  <a
                    class="btn btn-lang button-link-arrow black-link"
                    href="#"
                    onclick="translateclick('ur'); return false;"
                    >اردو (Urdu)</a
                  >
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of iSpeak Widget-->

<main id="main">
  <!-- About Section -->
  {% include 'components/index/about.html' %}
  <!-- Cards Section -->
  {% include 'components/index/cards.html' %}
  <!-- Questions Section -->
  {% include 'components/index/questions.html' %}
  <!-- Events Section -->
  {% include 'components/index/events.html' %}
  <!-- Certificates Section -->
  {% include 'components/index/certificades.html' %}
  <!-- Gallery Section -->
  {% include 'components/index/gallery.html' %}
</main>
{% endblock %}