{% extends "base.html" %}{% block content %} {% include
"components/koch_congressional_project/hero.html" %}
<div class="container-fluid p-0 overflow-hidden" style="margin-top: 100px">
  <div class="container" data-aos="fade-up" data-aos-delay="300">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="lc-block mb-2">
          <div editable="rich">
            <h1>Edward Irving Koch</h1>
            <p class="lead">December 12, 1924 - February 1, 2013</p>
            <p class="lead">
              Bronx-born, Edward Irving Koch graduated from high school in
              Newark, NJ, and attended City College before being drafted into
              the Army in 1943. He earned two battle stars in Europe as an
              infantryman. With a law degree from New York University in 1948,
              he was in private practice for twenty years. He became a founding
              partner of Koch, Lankenau, Schwartz &amp; Kovner in 1963.
            </p>
            <p class="lead">
              Backed by the Village Independent Democrats, Koch won a City
              Council seat in 1966. In 1968, he became the representative for
              the 17th Congressional District, the first Democrat to occupy the
              seat since 1934. He won re-election four times by substantial
              majorities and served until 1977.
            </p>
            <p class="lead">
              As Mayor from 1978 through 1989, Koch is credited with reviving
              the city after the fiscal crisis, restoring municipal services and
              infrastructure; he launched an ambitious housing program that
              continues to bring affordable housing to New Yorkers.
            </p>
          </div>
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
      <div class="col-md-6">
        <div class="lc-block shadow">
          <img
            alt="Koch Congressional Project related image"
            class="img-fluid"
            src="{{ url_for('static', filename='img/koch_congressional_project/Koch_Campaigning.jpg') }}"
          />
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
    </div>
  </div>
  <div
    class="row g-0"
    data-aos="fade-up"
    data-aos-delay="300"
    style="margin-top: 100px"
  >
    <div
      class="col-lg-6 order-lg-2"
      lc-helper="background"
      style="
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-image: url(../../static/img/koch_congressional_project/1978-002_prints_Koch_congressional_0003.jpg);
      "
    ></div>
    <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h1>
            Congressmember Ed Koch with Prime Minister of Israel Golda Meir
          </h1>
          <p class="lead">
            In 1974, while representing Manhattan in Congress, he met with Golda
            Meir. As Mayor, he presided over re-naming a midtown Manhattan plaza
            “Golda Meir Square”.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0" data-aos="fade-up" data-aos-delay="300">
    <div
      class="col-lg-6"
      lc-helper="background"
      style="
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-image: url(../../static/img/koch_congressional_project/Impeachment+Files.jpg);
      "
    ></div>
    <div class="col-lg-6 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h1>Congressmember Koch Subject Files</h1>
          <p class="lead">
            The subject files document the law Koch co-sponsored that gave
            citizens access to their government files, legislation he introduced
            for a national commission on drug abuse, as well his support for
            public transportation, housing, aid to Israel, solar energy
            research, federal financing of abortions and consumer protection
            measures. His file on President Nixon's impeachment is just one
            highlight.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0" data-aos="fade-up" data-aos-delay="300">
    <div
      class="col-lg-6 order-lg-2"
      lc-helper="background"
      style="
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-image: url(../../static/img/koch_congressional_project/av_sample_in_koch_collection.jpg);
      "
    ></div>
    <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h1>Preserving Electronic Media</h1>
          <p class="lead">
            The Collection also includes electronic media that must be
            reformatted to provide access and ensure long-term preservation.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0" data-aos="fade-up" data-aos-delay="300">
    <div class="row g-0" data-aos="fade-up" data-aos-delay="300">
      <div
        class="col-lg-6"
        lc-helper="background"
        style="
          min-height: 100vh;
          background-size: cover;
          background-position: center;
          background-image: url(../../static/img/koch_congressional_project/invitation.jpg);
        "
      ></div>
      <div class="col-lg-6 my-auto px-5 py-5">
        <div class="lc-block">
          <div editable="rich">
            <h1>Invitations</h1>
            <p class="lead">
              The invitations Koch received, and saved, provide a striking
              visual snapshot of the U.S. in the 1970s.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
