{% extends "layout.html" %} {% block content %}

<head>
  <style>
    .product-name-container {
      width: 90%;
      /* Adjust as needed */
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>
<!-- ======= Hero Section ======= -->
<div
  class="d-flex container-fluid"
  lc-helper="background"
  style="
    height: 50vh;
    background: url(../../../static/img/adopt_new_yorks_past/adopt_new_yorks_past_hero.jpg)
      center / cover no-repeat;
  "
></div>
<div class="d-flex align-items-center min-vh-50">
  <div class="container text-center mb-md-5">
    <div class="lc-block">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h1 class="fw-bold display-3 section-heading">
            BE A PART OF THE CONSERVATION
          </h1>
        </div>
      </div>
      <div class="lc-block">
        <div editable="rich">
          <p class="display-6 adopt_past_title">Adopt New York's Past</p>
          <p>
            Help preserve New York City's historical treasures by adopting an
            item from the Municipal Archives and Library to support conservation
            treatment. Choose from a selection of the city's maps, volumes,
            drawings, and documents listed below that are in poor condition.
            <br />
            <br />
            Your donation through the "Adopt New York's Past" program will
            ensure that these materials are well-preserved for the future.
            <br />
            <br />
            Your support will be commemorated by a label with the physical item
            and a note in the catalog that includes your name and an
            acknowledgment of your gift. Your name will also appear on our
            website next to the document you choose to adopt.<br />
            <br />
            Requests to remain anonymous will also be honored. You will receive
            a thank you note with before and after photos of your adopted item
            once the conservation work is completed.
          </p>
          <hr style="border: 2px solid white" />
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <!-- ======= Hero Section ======= -->
    {% include 'Adopt_New_Yorks_Past/components/items/items.html'%}
  </div>
</section>

{% endblock %}
