{% extends "base.html" %} {% block content %}
<section class="d-flex align-items-center min-vh-100 py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="lc-block">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player
            autoplay=""
            background="transparent"
            loop=""
            speed="1"
            src="https://assets9.lottiefiles.com/packages/lf20_kcsr6fcp.json"
          ></lottie-player>
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
      <div class="col-md-6 text-center text-md-start">
        <div class="lc-block mb-3">
          <div editable="rich">
            <h1 class="fw-bold h4">THIS PAGE IS NOT AVAILABLE YET<br /></h1>
          </div>
        </div>
        <div class="lc-block mb-3">
          <div editable="rich">
            <h1 class="display-1 fw-bold text-white">COMING SOON</h1>
          </div>
        </div>
        <!-- /lc-block -->
        <div class="lc-block mb-5">
          <div editable="rich">
            <p class="rfs-11 fw-light">
              This page's availability is limited, so if you're able, we
              encourage you to contribute to the New York Archival Society. You
              can easily do so by filling out the form through the provided
              link.<br /><br />
              <a
                class="nav-link scrollto"
                href="{{ url_for('main.contact') }}"
                target="_blank"
                style="color: goldenrod"
                >Contact Form</a
              ><br />Your contributions will help preserve our valuable heritage
              for generations to come.
            </p>
          </div>
        </div>
        <!-- /lc-block -->
        <div class="lc-block">
          <a
            class="btn btn-lg btn-primary"
            href="/"
            role="button"
            style="border-radius: 10px 10px 10px 10px"
            >Back to homepage</a
          >
        </div>
        <!-- /lc-block -->
      </div>
      <!-- /col -->
    </div>
  </div>
</section>

{% endblock %}
