<section>
  <div class="container py-5">
    <h4 class="text-center mb-5"><strong>Product listing</strong></h4>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img
            alt="Image related to New York's past"
            class="w-100"
            height="400"
            src="{{ product.image_url }}"
            width="500"
          />
          <a href="{{ url_for('product.product_detail', id=product.id) }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3)">
              <div class="d-flex justify-content-start align-items-start h-100">
                <div
                  class="product-name-container text-center align-items-center"
                >
                  <h5>
                    <span class="badge bg-light pt-2 ms-3 mt-3 text-dark"
                      >{{ product.name }}</span
                    >
                  </h5>
                </div>
              </div>
            </div>
            <div class="hover-overlay">
              <div
                class="mask"
                style="background-color: rgba(253, 253, 253, 0.15)"
              ></div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
