<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
      >
        <div class="about-img">
          <img
            alt="New York Archival Society Building"
            height="500"
            src="{{ url_for('static', filename='img/index/new_york_archival_society.jpg') }}"
            width="700"
          />
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3 class="mb-3" style="color: white">New York Archival Society</h3>
        <p class="fst-italic home_page_about_paragraph" style="color: white">
          The New York Archival Society supports the work of the Department of
          Records and Information Services (DORIS). The Municipal Archives and
          Library at DORIS preserves the historical and contemporary records of
          the New York City government and makes them publicly accessible. The
          Archival Society is a registered 501-C-3 organization so all
          contributions are tax deductible. Funds are used to preserve and
          digitize collections, create exhibits, and support public access to
          the collections.
        </p>
        <ul style="color: white" class="home_page_about_bulletpoints">
          <li>
            <span class="bulletpoint">&#x2022</span> Preserves and provides public access to historical and contemporary
            records and information about the New York City government.
          </li>
          <li>
            <span class="bulletpoint">&#x2022</span> Maintains digital galleries of the New York City Municipal Archives,
            including a vast collection of photographs from the 1940s.
          </li>
          <li>
            <span class="bulletpoint">&#x2022</span> Offers research services through the Municipal Library and Archives,
            open by appointment only.
          </li>
          <li>
            <span class="bulletpoint">&#x2022</span> Organizes exhibitions to celebrate and explore the city's history,
            such as "Ordinary People, Extraordinary Lives—A Pictorial History of
            Working People in New York City."
          </li>
          <li>
            <span class="bulletpoint">&#x2022</span> Commemorates the shared cultural heritage of Amsterdam and New York
            City with the "New Amsterdam Stories" exhibition.
          </li>
        </ul>
        <p style="color: white" class="home_page_about_paragraph2">
          The New York Archival Society and Department of Records and
          Information Services of New York City are the key institutions in
          preserving and making accessible the rich history of New York City.
          Through its various services and exhibitions, it provides invaluable
          resources to researchers, historians, and the general public alike.
        </p>
      </div>
    </div>
  </div>
</section>
